<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
</head>
<body>
<h1>Vui lòng đăng nhập!</h1>
<form method="post" action="/logon">
    <input type="hidden" name="_csrf" value="${_csrf.token}" />

    <label for="username">Tài khoản:</label>
    <input type="text" id="username" name="username" required>
    <br>

    <label for="password">Mật khẩu:</label>
    <input type="password" id="password" name="password" required>
    <br>

    <button type="submit">Đăng nhập</button>
</form>
</body>
</html>
